<input [(ngModel)]="nameFilter" type="text" id="poke-filter" placeholder="Search" maxlength="20" >

<img class="selected-pkm" [src]="pkmSprite" *ngIf="selectedPkm">

<ul class="poke-list" >
    <app-list-item *ngFor="let pokemon of pokemonList" [pokemon]="pokemon" (mouseenter)="selectPokemon(pokemon)">
    </app-list-item>
</ul>
