.poke-list-item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  border: 1px solid black;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  list-style: none;
  background-color: #333;
  color: white;
}
.poke-list-item:hover {
  background-color: #555;
}
.poke-list-item img {
  margin-right: 10px;
  vertical-align: middle;
}
